<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Initialization</key>
	<dict>
		<key>Application Key</key>
		<string></string>
		<key>Collector URL</key>
		<string>https://mobile.eum-appdynamics.com</string>
	</dict>
	<key>Features</key>
	<dict>
		<key>Crash Reporting</key>
		<true/>
		<key>Instrumentation</key>
		<true/>
		<key>Breadcrumbs</key>
		<true/>
	</dict>
	<key>internal</key>
	<dict>
		<key>Logging</key>
		<dict>
			<key>Log Level</key>
			<integer>7</integer>
		</dict>
	</dict>
</dict>
</plist>
